:root {
/* Colors */
--VeryDarkGray: hsl(0, 0%, 17%);
--DarkGray: hsl(0, 0%, 59%);

/* Typography */
/* Body Copy */
--FontSize: 18px; /* Text Input */

/* Font */
--FontFamily: 'Rubik', sans-serif;

/* Weight */
--RegWeight: 400;
--MedWeight: 500;
--SemiBoldWeight: 600;
--BoldWeight: 700;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--FontFamily);
}